@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  @apply w-3;
}

html::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

html::-webkit-scrollbar-thumb {
  @apply bg-slate-500;
}

html::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}


@layer components {
  .hamburger-menu-btn {
    width: 32px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .hamburger-menu-btn span {
    @apply bg-slate-700;
    /* background: #d3531a; */
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .hamburger-menu-btn span:nth-child(1) {
    top: 0px;
  }

  .hamburger-menu-btn span:nth-child(2) {
    top: 12px;
  }

  .hamburger-menu-btn span:nth-child(3) {
    top: 24px;
  }

  .open.hamburger-menu-btn span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .open.hamburger-menu-btn span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .open.hamburger-menu-btn span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@layer utilities {
  .cart-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .cart-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-300;
  }

  .cart-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
  }

  .cart-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }

  .preview-scrollbar::-webkit-scrollbar {
    @apply w-3;
  }

  .preview-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .preview-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300;
  }

  .preview-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}